 <!-- Swiper -->
 <div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="../../../assets/img/sl1.png" />
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/img/sl2.png" />
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/img/sl3.png" />
    </div>
    <div class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
