
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">

          <img src="../../../assets/img/sl1.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../../../assets/img/sl2.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../../../assets/img/sl3.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../../../assets/img/sl1.png" alt="">
        </div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
