/*

.content{

  display: flex;

}

li {
  margin-left: 50px;

    background-color: blue !important;
    color: white !important;
    padding: 10px 20px;
    border-radius: 15px;
}

a {
  color: white;
  text-decoration: none;
} */
