


  <section class="marketplaceSection">
    <div class="mpMainDiv">
      <div class="mpHeader">
        <div>
          <h2 class="mpTextH2">Popular Products</h2>
        </div>
        <!-- <div>
          <a class="mpTextA" href="">View All Ariticles</a>
        </div> -->
      </div>

      <div class="mpMainCardDiv">
        <div class="cardDiv1">

          <div class="starDiv">
            <mat-icon>favorite_border</mat-icon>
          </div>
          <div class="imgDiv">
            <img class="PPImg" src="../../../assets/img/pp1.jpg" alt="">
          </div>

          <div class="cardTextDiv">
            <a class="cardBrandType" href="">Headphone</a>
            <a class="cardBrandDtls" href="">Gaming Headphones</a>
            <p>$69.00 $42.00</p>
          </div>

          <!-- <a class="test" href="">hiiii</a> -->

        </div>
        <div class="cardDiv1">
          <div class="starDiv">
            <mat-icon>favorite_border</mat-icon>
          </div>
          <div class="imgDiv">
            <img class="PPImg" src="../../../assets/img/pp2.png" alt="">
          </div>

          <div class="cardTextDiv">
            <a class="cardBrandType" href="">Mobile Projector</a>
            <a class="cardBrandDtls" href="">Xpeed Projector</a>
            <p>$499.00</p>
          </div>

        </div>

        <div class="cardDiv1">
          <div class="starDiv">
            <mat-icon>favorite_border</mat-icon>
          </div>
          <div class="imgDiv">
            <img class="PPImg" src="../../../assets/img/pp3.jpg" alt="">
          </div>

          <div class="cardTextDiv">
            <a class="cardBrandType" href="">Future Product</a>
            <a class="cardBrandDtls" href="">Xpeed Mobile</a>
            <p>$160.00</p>
          </div>

        </div>
          <div class="cardDiv1">
            <div class="starDiv">
              <mat-icon>favorite_border</mat-icon>
            </div>
            <div class="imgDiv">
                 <img class="PPImg" src="../../../assets/img/pp4.jpg" alt="">
            </div>

            <div class="cardTextDiv">
              <a class="cardBrandType" href="">Featured Product Laptop</a>
              <a class="cardBrandDtls" href="">Fashionable Bedspread</a>
              <p>$10,000.00</p>
            </div>

          </div>


      </div>




    </div>
  </section>



