





.marketplaceSection{
  background-color: white;
  overflow: hidden;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 70px 0 160px;
}


.mpMainDiv{
  padding: 0 120px;
}


.mpHeader{


  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mpTextH2{

  font-weight: 900;
  font-size:  1.57143em;
  letter-spacing: 0.7px;
}


.mpTextA{

  /* margin: 70px 0px; */
font-size: 15px;
float: right;
color: #f07f13;
font-weight: 500;

}

.mpMainCardDiv{
margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


.cardDiv1{
  background-color: white;
  color: black;
  border: 3px solid #efefef;
position: relative;


}

.cardDiv1:hover{
  /* box-shadow: 0 0 11px rgba(33,33,33,.2); */
  border-bottom: none;

}

.starDiv{
  position: absolute;
  right: 0;
  padding: 18px;
  color: #f07f13;
  display: none;

}


.cardDiv1:hover .starDiv{
display: block;
}




.cardTextDiv{
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
}

.cardBrandType{
  color: blue;
}

.cardBrandDtls{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.7px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: black;
}
.cardBrandDtls:hover{

  color: #f07f13;
}



.PPImg{
  width: 150px;

}

.imgDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

