<div class="container">
  <div class="roe">
    <div class="coll6">
      <h2>Employee Management</h2>
    </div>

    <div class="colllBtn">
      <button type="button" class="btnnn" >
        <!-- (click)="onAddEmployee()" -->
        <i class="fa fa-plus"></i> Add Employee
      </button>
    </div>
  </div>

  <hr>
<div class="rowcard">
  <div class="cardcolll">
    <div class="cardmainDiv">
      <div class="cardBody">
        <h5>Anu</h5>
        <h6>Full</h6>
        <hr>
        <button>Edit</button>
        <button>Delete</button>
      </div>
    </div>
  </div>
</div>

</div>
