<div class="basic_section">
  <a class="footerlogo" href=""
    ><img src="../../../assets/img/logo_furniture_footer.png" alt=""
  /></a>
  <div class="basic_container">
    <div>
      <!-- null div  -->
    </div>
    <div class="basic_left_first">
      <!-- <img class="left_first_items" src="../../assets/images/logo_3-1.png" alt=""> -->
      <h2 class="">
        Got Question? Call us <br />
        24/7
      </h2>
      <h3 class="left_first_items">[80] 1017 197</h3>
      <p class="left_first_items">
        17 Princess Road, London, Greater <br />
        London NW1 8JR, UK
      </p>
      <span class="location"
        ><a href="#">
          <i class="fa-solid fa-location-dot"></i> View On Map</a
        ></span
      >
    </div>

    <div class="basic_left_second">
      <h2>We Using</h2>
      <h2>Safe Payments</h2>
      <div class="left_second_img_top">
        <img src="../../../assets/img/skril-1.png" alt="" />
        <img src="../../../assets/img/palypal-1.png" alt="" />
        <img src="../../../assets/img/american_express-1.png" alt="" />
      </div>
      <h2 class="SecuredBy">Secured by:</h2>
      <div class="left_second_img_bottom">
        <img src="../../../assets/img/norton_av_logo1.png" alt="" />
        <img src="../../../assets/img/mcAfee_logo1.png" alt="" />
      </div>
    </div>

    <div class="basic_right_left">
      <h2>Our Stores</h2>
      <a href="">New York</a>
      <a href="">London SF</a>
      <a href="">Cockfosters BP</a>
      <a href="">Los Angeles</a>
      <a href="">Chicago</a>
      <a href="">Las Vegas</a>
      <a href="">Albarto</a>
    </div>

    <div class="basic_right_right">
      <h2>Quick Links</h2>
      <a href="">Support Center</a>
      <a href="">Term & Conditions</a>
      <a href="">Shipping</a>
      <a href="">NPrivacy Policy</a>
      <a href="">Help</a>
      <a href="">Products Return</a>
      <a href="">FAQS</a>
    </div>

    <div class="basic_right">
      <div class="backTopDiv">

        <a class="backTopBtnA" href=""><h2 class="backTopBtn">Back Top</h2> </a>
      </div>
    </div>
  </div>
</div>

<!-- cpoyright section  -->

<div class="bottom_most_section">
  <div class="bottom_most_container">
    <div class="bottom_most_left">
      <!-- &copy; 2021 <span class="copy_text">XpeedStudio </span> All Rights Reserved -->
      <h4 class="Copyrights">Copyrights By Xpeedstudio - 2018</h4>
    </div>
    <div class="bottom_most_right">
      <h4>Allow payment base on</h4>
      <img class="fotImg" src="../../../assets/img/palypal-1.png" alt="" />
      <img class="fotImg" src="../../../assets/img/amazon1.png" alt="" />
      <img class="fotImg" src="../../../assets/img/skril-1.png" alt="" />
      <img
        class="fotImg"
        src="../../../assets/img/american_express-1.png"
        alt=""
      />
    </div>
  </div>
</div>
