<section class="marketplaceSection">
  <div class="mpMainDiv">
    <div class="mpHeader">
      <div>
        <h2 class="mpTextH2">Marketplace News</h2>
      </div>
      <div>
        <a class="mpTextA" href="">View All Ariticles</a>
      </div>
    </div>

    <div class="mpMainCardDiv">
      <div class="cardDiv1">
        <img src="../../../assets/img/news-4-e1594818096987.jpg" alt="">
        <div class="cardTextDiv">
          <a class="cardBrandType" href="">Electronics</a>
          <a class="cardBrandDtls" href="">Seating Collection Inspiration Is Not Enough For People</a>

          <div class="cardCommentDiv">
            <mat-icon>airplay</mat-icon>
            <p>0</p>
            <mat-icon>access_time</mat-icon>
            <p> May 1, 2018</p>
          </div>
        </div>

      </div>
      <div class="cardDiv1">
        <img src="../../../assets/img/news-3-e1594818116209.jpg" alt="">
        <div class="cardTextDiv">
          <a class="cardBrandType" href="">Speaker</a>
          <a class="cardBrandDtls" href="">Exterior Ideas: 10 Colored Fiber Garden Seats</a>

          <div class="cardCommentDiv">
            <mat-icon>airplay</mat-icon>
            <p>0</p>
            <mat-icon>access_time</mat-icon>
            <p> May 1, 2018</p>
          </div>
        </div>

      </div><div class="cardDiv1">
        <img src="../../../assets/img/news-2-e1594818140161.jpg" alt="">
        <div class="cardTextDiv">
          <a class="cardBrandType" href="">Electronics</a>
          <a class="cardBrandDtls" href="">Creative Water Features And Exterior Design</a>

          <div class="cardCommentDiv">
            <mat-icon>airplay</mat-icon>
            <p>0</p>
            <mat-icon>access_time</mat-icon>
            <p> May 1, 2018</p>
          </div>
        </div>

      </div>


    </div>




  </div>
</section>
