
<app-toolbar></app-toolbar>




<!-- <mat-sidenav-container class="app-sidenav-container"> -->
  <!-- <div class="app-sidenav-container"> -->
    <!-- <mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened>Drawer content</mat-drawer>
      <mat-drawer-content>Main content</mat-drawer-content>
    </mat-drawer-container> -->

  <!-- </div> -->
<!-- </mat-sidenav-container> -->
<button mat-button>
  <mat-icon class="">face</mat-icon>
  </button>

<router-outlet></router-outlet>
