





<nav class="navbar">


  <div class="navbar-container container">

    <img class="tetst" src="../assets/img/logo_furniture.png" alt="">
      <input type="checkbox" name="" id="">
      <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>

      </div>

      <ul class="menu-items">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#food">Category</a></li>
          <li><a href="#food-menu">Menu</a></li>
          <li><a href="#testimonials">Testimonial</a></li>
          <li><a href="#contact">Contact</a></li>
      </ul>

  </div>


  <div class="main-nav">
    <ul class="menu-items">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">Pages</a></li>
      <li><a href="#food">Shop</a></li>
      <li><a href="#food-menu">Blog</a></li>
      <li><a href="#testimonials">Gallery</a></li>
      <li><a href="#contact">Contact</a></li>
  </ul>
  </div>


</nav>

