


.logoDiv{
  background-color: #f07f13;

}

.menu1Section{
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  margin: 0 20px;
  padding: 20px 0;
}

.lgoDi{
  display: flex;
  justify-content: end;
}

.searchDiv{
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 2fr 1fr;
  margin: 0px 20px;
  padding: 10px;
}


.form-control{
  border: none;
    border-radius: 0;
    padding-left: 28px;
    font-size: 1em;
    height: 100%;
   outline: none;
}
