<app-navbar></app-navbar>

<!-- sliders  -->
<app-sliders></app-sliders>

<!-- relax section  -->



<!-- new Arivel section  -->
<app-new-arrivals></app-new-arrivals>

<!-- delivery sectioon  -->
<app-delivery-section></app-delivery-section>

<!-- offer section  -->
<app-offersection></app-offersection>

<!-- recently-added section  -->
<app-recently-added></app-recently-added>

<!-- categories Section  -->
<app-categories></app-categories>

<!-- popular product  -->
<app-products></app-products>

<!-- marketplace -->
<app-marketplace></app-marketplace>

<!-- clinets  -->
<app-clients></app-clients>

<!-- newsletter  -->

<app-newslatter></app-newslatter>

<!-- footer  -->
<app-footer></app-footer>


