.ctgrySection {
  background-color: white;
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 70px 0 5px;
}

.ctgryMainDiv {
  padding: 0 120px;
}

.ctgryHeader {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ctgryTextH2 {
  font-weight: 900;
  font-size: 1.57143em;
  letter-spacing: 0.7px;
}

.ctgryMainCardDiv {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


.ctgryHeavyDutyAntiMainDiv{
  margin-bottom: 0;
    min-height: 545px;
    background-color: #f7f7f7;
    display: flex;
  align-items: center;
  justify-content: end;

}

.ctgryHeavyDutyAntiSubDiv{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.ctgryText1{
  font-size: 22px;
  color: #f07f13;
  padding-right: 30px;
  margin-bottom: 13px;
}
.ctgryText2{
  font-size: 38px;
  color: blue;
  padding-right: 30px;
  margin-bottom: 13px;
}

.ctgryimg{
  width: 132%;
  height: 100%;
  transform-origin: 100% 10%;
  transition: transform 3s ;
  -webkit-transition: transform 3s ;
  -moz-transition: transform 3s ;
  -ms-transition: transform 3s ;
  -o-transition: transform 3s ;
}
/* .ctgryimg:hover{
 transform: scale(1) rotate(0deg);

} */


.ctgryOtherDiv{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20PX;
}

.ctgrySmallDiv{
  background-color: #f7f7f7;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;

}



.ctgrySmallText{
  font-size: 12px;
  color: #f07f13;
  padding-right: 15px;
  margin-bottom: 7px;

}
.ctgrySmallText1{
  font-size: 18px;
  color: blue;
  padding-right: 15px;
  margin-bottom: 7px;

}


.ctgryOtherimg{
  width: 159px;
  padding-right: 10px;
}


