




  <section class="ctgrySection">
    <div class="ctgryMainDiv">
      <div class="ctgryHeader">
        <div>
          <h2 class="ctgryTextH2">Top Categories This Week</h2>
        </div>
      </div>

      <div class="ctgryMainCardDiv">

        <div class="ctgryHeavyDutyAntiMainDiv">
          <div class="ctgryHeavyDutyAntiSubDiv">
            <a class="ctgryText1" href="">Innovative Furnitures</a>
            <a  href=""><h2 class="ctgryText2">Heavy Duty Anti</h2></a>
            <img class="ctgryimg" src="../../../assets/img/HAM.jpg" alt="">
          </div>
        </div>


<!-- other catagoty div  -->


<div class="ctgryOtherDiv">
          <div class="ctgrySmallDiv">

              <a class="ctgrySmallText" href="">Chair</a>
              <a  href=""><h2 class="ctgrySmallText1">Xpeed Wheel Rim</h2></a>
              <img class="ctgryOtherimg" src="../../../assets/img/ctp2.png" alt="">

          </div>


          <div class="ctgrySmallDiv">

            <a class="ctgrySmallText" href="">Chair</a>
            <a  href=""><h2 class="ctgrySmallText1">Jhasu Helmet</h2></a>
            <img class="ctgryOtherimg" src="../../../assets/img/ctp3.png" alt="">

        </div>


        <div class="ctgrySmallDiv">

          <a class="ctgrySmallText" href="">Innovative Furnitures</a>
          <a  href=""><h2 class="ctgrySmallText1">Zinglo Wheel</h2></a>
          <img class="ctgryOtherimg" src="../../../assets/img/ctp4.png" alt="">

      </div>


      <div class="ctgrySmallDiv">

        <a class="ctgrySmallText" href="">Innovative Furnitures</a>
        <a  href=""><h2 class="ctgrySmallText1">Zinglo Wheel</h2></a>
        <img class="ctgryOtherimg" src="../../../assets/img/ctp5.png" alt="">

    </div>



        </div>

      </div>




    </div>
  </section>



