








  <section class="recentSection">
    <div class="recentMainDiv">
      <div class="recentHeader">
        <div>
          <h2 class="recentTextH2">Recently Added</h2>
        </div>
      </div>

      <div class="recentMainCardDiv">

        <mat-tab-group mat-align-tabs="end">
          <mat-tab label="On Sell">
            <div class="onSellDiv">
              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/pp1.jpg" alt="">
                <a class="product" href=""> <h2>Heavy Duty Antis</h2></a>
                <p class="productPrice">$4,000.00</p>
              </div>

              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/pp2.png" alt="">
                <a class="product" href=""> <h2>Heavy Duty Antis</h2></a>
                <p class="productPrice">$2,000.00</p>
              </div>

              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/pp3.jpg" alt="">
                <a class="product" href=""> <h2>Zinglo Wheel</h2></a>
                <p class="productPrice">$3,000.00</p>
              </div>

              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/ctp4.png" alt="">
                <a class="product" href=""> <h2>Jhasu Helmet</h2></a>
                <p class="productPrice">$3,200.00</p>
              </div>

              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/ctp2.png" alt="">
                <a class="product" href=""> <h2>Heavy Duty Antis</h2></a>
                <p class="productPrice">$4,000.00</p>
              </div>

              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/ctp5.png" alt="">
                <a class="product" href=""> <h2>Zux Mortared</h2></a>
                <p class="productPrice">$4,000.00</p>
              </div>

           </div>

          </mat-tab>
          <mat-tab label="Hot Sell">
            <div class="onSellDiv">
              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/pp1.jpg" alt="">
                <a class="product" href=""> <h2>Heavy Duty Antis</h2></a>
                <p class="productPrice">$4,000.00</p>
              </div>

              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/pp2.png" alt="">
                <a class="product" href=""> <h2>Heavy Duty Antis</h2></a>
                <p class="productPrice">$2,000.00</p>
              </div>

              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/pp3.jpg" alt="">
                <a class="product" href=""> <h2>Zinglo Wheel</h2></a>
                <p class="productPrice">$3,000.00</p>
              </div>

              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/ctp4.png" alt="">
                <a class="product" href=""> <h2>Jhasu Helmet</h2></a>
                <p class="productPrice">$3,200.00</p>
              </div>

           </div>
          </mat-tab>
          <mat-tab label="Trend">
            <div class="onSellDiv">
              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/pp1.jpg" alt="">
                <a class="product" href=""> <h2>Heavy Duty Antis</h2></a>
                <p class="productPrice">$4,000.00</p>
              </div>

              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/pp2.png" alt="">
                <a class="product" href=""> <h2>Heavy Duty Antis</h2></a>
                <p class="productPrice">$2,000.00</p>
              </div>



           </div>
          </mat-tab>
          <mat-tab label="Best Sell">
            <div class="onSellDiv">
              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/pp1.jpg" alt="">
                <a class="product" href=""> <h2>Heavy Duty Antis</h2></a>
                <p class="productPrice">$4,000.00</p>
              </div>

              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/pp2.png" alt="">
                <a class="product" href=""> <h2>Heavy Duty Antis</h2></a>
                <p class="productPrice">$2,000.00</p>
              </div>

              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/pp3.jpg" alt="">
                <a class="product" href=""> <h2>Zinglo Wheel</h2></a>
                <p class="productPrice">$3,000.00</p>
              </div>

              <div class="productDesignDiv">
                <img class="productImg" src="../../../assets/img/ctp4.png" alt="">
                <a class="product" href=""> <h2>Jhasu Helmet</h2></a>
                <p class="productPrice">$3,200.00</p>
              </div>



           </div>
          </mat-tab>
        </mat-tab-group>


      </div>




    </div>
  </section>




