.logoDiv {
  background-color: #f07f13;
}

.menu1Section {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  margin: 0 20px;
  padding: 20px 0;
}

.lgoDi {
  display: flex;
  justify-content: end;
}

.searchDiv {
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 2fr 0.01fr;
  margin-left: 33px;
  padding: 0px;
}

.form-control {
  border: none;
  border-radius: 0;
  padding-left: 28px;
  font-size: 1em;
  height: 100%;
  outline: none;
}

.selectFiled {
  padding: 0px !important;
  margin: 1px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  border-radius: 4px 4px 0 0;
  padding: 0 !important;

  position: absolute !important;
  margin-top: 5px;
}

mat-label {
  padding: 1px !important;
  height: 10px !important;
  margin-top: 10px !important;
}

mat-select {
  margin-top: -10px !important;
}

.searchBTN {
  background-color: black;
  width: 41px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.seBtn {
  color: white;
  background-color: black;
}

.cart-Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 18px;
}

.carBTN {
  background-color: #f07f13;
  color: white;
  outline: none;
  border: none;
  font-size: 18px;
}

.CartCount {
  border-radius: 87%;
  position: absolute;
  margin-top: -32px;
  margin-left: 22px;
}

.menu2Section {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 1fr 0.5fr;
}

.m2Div2{

  border-left: 2px solid fuchsia;
  border-right: 2px solid fuchsia;
}


#AllCat{
  width: 253px !important;
  margin: 20px !important;
  padding: 13px !important;
  background-color: #f07f13 !important;
  color: white !important;
  border: none !important;
  font-size: 22px;
}

.furnitureDiv{

  margin: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

}

/* vvvI LINK OF MAT  */

::ng-deep .furnitureSubDiv {
  width: 80%;

background-color: #f07f13 !important;

min-width: 900px !important;
max-width:1800px !important;
overflow: hidden !important;

 max-height: calc(100vh - 40px);
 border-radius: 4px;
 outline: 0;
min-height: 300px !important;


}



.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  float:right;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
