


.logoDiv{
  background-color: #f07f13;

}

.menu1Section{
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  margin: 0 20px;
  padding: 20px 0;
}

.lgoDi{
  display: flex;
  justify-content: end;
}

.searchDiv{
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 2fr .01fr;
  margin-left: 33px;
  padding: 0px;
}


.form-control{
  border: none;
    border-radius: 0;
    padding-left: 28px;
    font-size: 1em;
    height: 100%;
   outline: none;
}


.selectFiled{

  padding: 0px !important;
  margin: 1px !important;
  display: flex;
  align-items: center;
  justify-content: center;

}


mat-form-field{
  border-radius: 4px 4px 0 0;
   padding: 0 !important;

   position: absolute !important;
   margin-top: 5px;


}

mat-label {
  padding: 1px !important;
height: 10px !important;
margin-top: 10px !important;

}

mat-select{
  margin-top: -10px !important;
}


.searchBTN{
  background-color: black;
  width: 41px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.seBtn{

  color: white;
  background-color: black;
}

.cart-Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 18px;
}

.carBTN{

  background-color: #f07f13;
  color: white;
  outline: none;
  border: none;
  font-size: 18px;
}

.CartCount{
  border-radius: 87%;
  position: absolute;
  margin-top: -32px;
  margin-left: 22px;
}





.menu2Section{
display: grid;
grid-template-columns: .5fr 1fr 2fr 1fr .5fr;

}
