


.example-spacer {
  flex: 1 1 auto;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  margin: auto;
  max-width: 1200px;
}


.homeBtn {
  margin-left: 20px;
  color: white;
}
